<h1> Listing Blogs </h1>

<!-- notice  -->
<p><%= notice %></p>

<%= link_to 'Add New Blog', new_blog_path %>
<table style="text-align: left; width: 90%;">
    <thead>
        <tr>
            <th> Title </th>
            <th> Content </th>
            <th> Studnet id </th>
            <th colspan="3">Action</th>
        </tr>
    </thead>
    <tbody>
        <% @blogs.each do |blog| %>
        <tr>
            <td><%= blog.title %> </td>
            <td><%= blog.content %></td>
            <td><%= blog.student.id %></td>
            <td><%= link_to 'View', blog %></td>
            <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
            <td><%= link_to 'Delete', blog, method: :delete, data: {confirm: "Are You sure"} %></td>
        </tr>
        <% end %>
    </tbody>
</table>