<%= form_with(model: [:admin, blog]) do |form| %>

    <!-- partial for error msg -->
    <%= render "admin/shared/errors", model: blog %>

    <div class="form-group">
        <%= form.label :title%>
        <%= form.text_field :title, class:"form-control" %>
    </div>
    <div class="form-group">
        <%= form.label :content%>
        <%= form.text_field :content, class:"form-control" %>
    </div>
    <div class="form-group">
        <%= form.number_field :student_id, value:1, type: :hidden, class:"form-control" %>
    </div>
    <div class="form-group">
        <%= form.submit class: "btn btn-primary btn-lg" %>
    </div>
<% end %>
<%= link_to "Back", admin_blogs_path %>
